<!DOCTYPE html>
<html>
  <head>
    <title><title>Home</title>></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> Welcome to <%= title %></h1>
    <p>Welcome to <%= name %>'s Profile</p>
  </body>
</html>
