<!DOCTYPE html>
<html>
  <head>
    <title><%= name %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to <%= Allan  %>'s Profile'</h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
